service firebase.storage {
  match /b/spirit-elite-community.appspot.com/o {
    match /{userId}/{allPaths=**} {
      allow write: if request.auth.uid == userId;
      allow read: if request.auth != null;
    }
  }
}